name: check and docker build push
on:
  push:
    branches:
      - main
    paths-ignore:
      - "heroes.json"
      - '**/*.md'
      - 'docs/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - "heroes.json"
      - '**/*.md'
      - 'docs/**'
jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [8, 11]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        include:
          - os: ubuntu-latest
            includeDockerTest: true
          - os: windows-latest
            includeDockerTest: false
          - os: macOS-latest
            includeDockerTest: false
    steps:
      - name: Configure git
        run: |
          git config --global core.autocrlf false && git config --global core.eol lf
          git config --global user.name "ByteLegendBot" && git config --global user.email "bot@bytelegend.com"
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache node modules
        uses: actions/cache@v1
        env:
          cache-name: cache-gradle-user-home
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-
      - name: Show Gradle version
        run: ./gradlew --version
      - name: Build with Gradle
        run: ./gradlew check -DincludeDockerTest=${{ matrix.includeDockerTest }} --scan
  docker-build-push:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Cache node modules
        uses: actions/cache@v1
        env:
          cache-name: cache-gradle-user-home
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-
      - name: Build with Gradle
        run: ./gradlew install --scan
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: blindpirate/remember-brave-people:latest
